<header [ngClass]="['header', searchClick ? 'header-long' :'']">
    <div class="header-content">
        <img class="logo" src="assets/images/logo.png">
        <div class="header-titles">
            <h1 class="title">{{title}}</h1>
            <div class="call">
                <img src="assets/icons/call.svg" class="icon" />
                <h3 class="subtitle">{{subtitle}} </h3>
            </div>
        </div>
    </div>
    <form id="search" *ngIf="searchClick" [ngClass]="['search-bar']">
        <input type="search" class="form-control" placeholder="Rechercher ..." aria-label="Search" />
    </form>
</header>
