@import "../../../styles";

.main {
    height: 75.5vh;
    background: red;
    overflow: hidden;
    background: $primary-color-second;
    font-family: $font-text;
}
#chk {
    display: none;
}
.signup-label {
    color: $salmon-color;
}
.signup {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.8s ease-in-out;
    overflow-y: auto;
    padding-bottom: 4rem;
}
.signup-label,
.signin-label {
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-family: $font-subtitle;
    padding-top: 1.5rem;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: $salmon-color;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
}
button:hover {
    background-color: lighten($salmon-color, 10%);
}
.login {
    height: 100%;
    background: #eee;
    transform: translateY(-14vh);
    transition: 0.8s ease-in-out;
}
.login label {
    color: $salmon-color;
    transform: scale(0.6);
}

#chk:checked ~ .login {
    transform: translateY(-76vh);
    background: $primary-color-second;
}
#chk:checked ~ .signup {
    background: $white;
}
#chk:checked ~ .login label {
    transform: scale(1);
}
#chk:checked ~ .signup label {
    transform: scale(0.6);
}
.gender {
    h5 {
        color: $white;
    }
}

.block-scroll {
    overflow: hidden;
}

.form-group {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 2rem;

    label {
        justify-content: left;
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        color: $white;
        font-family: $font-subtitle;
        margin-left: 2px;
    }
    input {
        height: 2.5rem;
        background: $white;
        padding: 1rem;
        border: none;
        outline: none;
        border-radius: 5px;
    }
}
.gender-select {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: none;
    div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    label {
        font-size: 1rem;
        margin: 0;
        font-weight: 400;
        &:before,
        &:after {
            content: none;
        }
    }
    input {
        width: 1rem;
        height: 1rem;
        margin: 0;
        border: none;
        outline: none;
        accent-color: $salmon-color;
    }
}

::ng-deep #cdk-overlay-0 .cdk-overlay-pane {
    background-color: $white;
    width: 83vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
::ng-deep #mat-autocomplete-0 {
    border-radius: 1em;
}
::ng-deep #mat-input-0 {
    width: 100%;
    box-sizing: border-box;
}

.mat-form-field-infix {
    padding: 0.25rem 0.25rem;
}
::ng-deep .mat-form-field {
    all: unset;
    font-family: $font-text;
    * {
        border: none;
    }
}

.zip-country {
    display: flex;
    align-items: center;
    gap: 1rem;
    > div {
        padding: 0;
    }

    div:nth-child(1) {
        width: 55%;
        margin-left: 2rem;

        > * {
            width: 100%;
        }
    }
    div:nth-child(2) {
        width: 45%;
        margin-right: 2rem;

        > * {
            width: 100%;
        }
    }
}
::ng-deep .mat-form-field-wrapper {
    border: none;
}
.mat-form-field-wrapper {
    border: none;
}
::ng-deep .mat-form-field-underline {
    display: none;
}
.invalid-feedback {
    display: block;
    font-size: 0.8rem;
    height: 1rem;
    color: $salmon-color;
}
