<main class="main">
    <div  *ngIf="!isLoggedIn">
        <input type="checkbox" id="chk" aria-hidden="true" />
        <div class="signup" [ngClass]="[register ? 'active' : 'block-scroll']">
            <!-- Form starts -->
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" id="registerForm">
                <label for="chk" (click)="switch()" class="signup-label" #signUp aria-hidden="true">Inscription</label>
                <div>
                    <!-- Gender -->
                    <div class="gender form-group">
                        <label>Sexe *</label>
                        <div class="gender-select">
                            <div>
                                <input id="male" type="radio" name="gender" formControlName="gender" value="male"
                                    checked />
                                <label class="custom-control-label" for="male">Homme</label>
                            </div>
                            <div>
                                <input id="female" type="radio" name="gender" formControlName="gender" value="female" />
                                <label class="custom-control-label" for="female">Femme</label>
                            </div>
                        </div>
                    </div>
                    <!-- Full name -->
                    <div formGroupName="fullName">
                        <div class="form-group">
                            <label [ngClass]="{
                     error:
                     submitted && myRegistrationForm['fullName']['controls'].firstName.errors
                     }">
                                Prénom *</label>
                            <input type="text" class="form-control" formControlName="firstName" [ngClass]="{
                     error:
                     submitted && myRegistrationForm['fullName']['controls'].firstName.errors
                     }" />
                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="
                     submitted &&
                     myRegistrationForm['fullName']['controls'].firstName.errors?.required
                     ">
                                <sup>*</sup>Veuillez entrer votre prénom
                            </div>
                            <div class="invalid-feedback" *ngIf="
                     submitted &&
                     myRegistrationForm['fullName']['controls'].firstName.errors?.minlength
                     ">
                                <sup>*</sup>Le nom doit être d'au moins 2 caractères
                            </div>
                            <div class="invalid-feedback" *ngIf="
                     submitted &&
                     myRegistrationForm['fullName']['controls'].firstName.errors?.pattern
                     ">
                                <sup>*</sup>Aucun caractère spécial n'est autorisé
                            </div>
                        </div>
                        <div class="form-group">
                            <label [ngClass]="{
                     error:
                     submitted && myRegistrationForm['fullName']['controls'].lastName.errors
                     }">
                                Nom *</label>
                            <input type="text" class="form-control" formControlName="lastName" [ngClass]="{
                     error:
                     submitted && myRegistrationForm['fullName']['controls'].lastName.errors
                     }" />
                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="
                     submitted &&
                     myRegistrationForm['fullName']['controls'].lastName.errors?.required
                     ">
                                <sup>*</sup>Veuillez entrer votre nom
                            </div>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <label [ngClass]="{ error: submitted && myRegistrationForm['email'].errors }">Email *</label>
                        <input type="email" class="form-control" formControlName="email"
                            [ngClass]="{ error: submitted && myRegistrationForm['email'].errors }" ngModel
                            [email]="true" />
                        <!-- error block -->
                        <div class="invalid-feedback"
                            *ngIf="submitted && myRegistrationForm['email'].errors?.['required']">
                            <sup>*</sup>Veuillez Entrer votre email
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="submitted && myRegistrationForm['email'].errors?.['pattern']">
                            <sup>*</sup>Veuillez Entrer une adresse email valide
                        </div>
                    </div>
                    <!-- Phone number -->
                    <div class="form-group">
                        <label
                            [ngClass]="{ error: submitted && myRegistrationForm['phoneNumber'].errors }">Téléphone</label>
                        <input type="text" class="form-control" formControlName="phoneNumber"
                            [ngClass]="{ error: submitted && myRegistrationForm['phoneNumber'].errors }" />
                        <!-- error block -->
                        <div class="invalid-feedback"
                            *ngIf="submitted && myRegistrationForm['phoneNumber'].errors?.['minlength']">
                            <sup>*</sup>Le numéro de téléphone doit être de 10 chiffres
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="submitted && myRegistrationForm['phoneNumber'].errors?.['maxlength']">
                            <sup>*</sup>Le numéro de téléphone doit être de 10 chiffres
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="submitted && myRegistrationForm['phoneNumber'].errors?.['pattern']">
                            <sup>*</sup>Veuillez entrer un numéro de téléphone valide
                        </div>
                    </div>
                </div>

                <!-- Address -->
                <div class="address-select" formGroupName="address">
                    <div class="form-group">
                        <label [ngClass]="{
                                      error: submitted && myRegistrationForm['address']['controls'].addressLine1.errors
                                      }">Adresse ligne 1</label>
                        <mat-form-field>
                            <input matInput [(ngModel)]="selectedAddress" [matAutocomplete]="auto"
                                formControlName="addressLine1" [ngClass]="{
                  error: submitted && myRegistrationForm['address']['controls'].addressLine1.errors
                  }">
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let address of filteredAddresses" [value]="address">
                                        {{address.properties.label}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>

                        <!-- error block -->
                        <div class="invalid-feedback" *ngIf="
                  submitted &&
                  myRegistrationForm['address']['controls'].addressLine1.errors?.required
                  ">
                            <sup>*</sup>Veuillez entre votre adresse
                        </div>
                    </div>
                    <div class="form-group">
                        <label [ngClass]="{
                  error: submitted && myRegistrationForm['address']['controls'].addressLine2.errors
                  }">Adresse ligne 2</label>
                        <input type="text" class="form-control" formControlName="addressLine2" />
                    </div>
                    <div class="zip-country">
                        <div class="form-group">
                            <label [ngClass]="{
                                  error: submitted && myRegistrationForm['address']['controls'].city.errors
                                  }">Ville</label>
                            <input type="text" class="form-control" formControlName="city" [ngClass]="{
                                  error: submitted && myRegistrationForm['address']['controls'].city.errors
                                  }" [value]="selectedAddress.city" />
                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="
                                  submitted && myRegistrationForm['address']['controls'].city.errors?.required
                                  ">
                                <sup>*</sup>Veuillez entrer votre ville
                            </div>
                        </div>
                        <div class="form-group">
                            <label [ngClass]="{
                                  error:
                                  submitted && myRegistrationForm['address']['controls'].zip.errors
                                  }">Code postal</label>
                            <input [value]="selectedAddress.citycode" formControlName="zip" [ngClass]="{
                               error:
                               submitted && myRegistrationForm['address']['controls'].zip.errors
                               }">

                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="
                                  submitted &&
                                  myRegistrationForm['address']['controls'].zip.errors?.required
                                  ">
                                <sup>*</sup>Veuillez entrer votre code postal
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Password -->
                <div formGroupName="PasswordValidation">
                    <div>
                        <div class="form-group">
                            <label [ngClass]="{
                     error:
                     submitted &&
                     myRegistrationForm['PasswordValidation']['controls'].password.errors
                     }">Mot de passe *</label>
                            <input type="password" class="form-control" formControlName="password" [ngClass]="{
                     error:
                     submitted &&
                     myRegistrationForm['PasswordValidation']['controls'].password.errors
                     }" />
                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="
                     submitted &&
                     myRegistrationForm['PasswordValidation']['controls'].password.value?.length === 0
                     ">
                                <sup>*</sup>Veuillez entrer votre mot de passe
                            </div>
                            <div class="invalid-feedback" *ngIf="
                                           submitted &&
                                           myRegistrationForm['PasswordValidation']['controls'].password.errors?.['minlength']
                                           ">
                                <sup>*</sup>Le mot de passe doit être de 8 caractères minimum
                            </div>
                        </div>
                        <div class="form-group">
                            <label [ngClass]="{
                     error:
                     submitted &&
                     myRegistrationForm['PasswordValidation']['controls'].confirmPassword
                     .errors
                     }">Retapez votre mot de passe *</label>
                            <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]="{
                     error:
                     submitted &&
                     myRegistrationForm['PasswordValidation']['controls'].confirmPassword
                     .errors
                     }" />
                            <!-- error block -->

                            <div class="invalid-feedback" *ngIf="
                   submitted &&
                   myRegistrationForm['PasswordValidation']['controls'].confirmPassword.errors
                   ">
                                <sup>*</sup>Les mots de passe ne correspondent pas
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Super Powers Dynamically-->
                <!-- Submit Button -->
                <button type="submit" class="signup-btn">
                    S'inscrire
                </button>
            </form>
            <!-- Form ends -->
        </div>
        <div class="login" [ngClass]="[register ? 'disabled' : 'active']">
            <label (click)="scroll(signUp)" class="signin-label" for="chk" aria-hidden="true">Connexion</label>
            <form (ngSubmit)="login()" [formGroup]="loginForm">
                <div class="form-group">
                    <label [ngClass]="{ error: submitted && myLoginForm['email'].errors }">Email *</label>
                    <input type="email" class="form-control" formControlName="email"
                        [ngClass]="{ error: submitted && myLoginForm['email'].errors }" ngModel [email]="true" />
                    <!-- error block -->
                    <div class="invalid-feedback" *ngIf="submitted && myLoginForm['email'].errors?.['required']">
                        <sup>*</sup>Veuillez Entrer votre email
                    </div>
                    <div class="invalid-feedback" *ngIf="submitted && myLoginForm['email'].errors?.['pattern']">
                        <sup>*</sup>Veuillez Entrer une adresse email valide
                    </div>
                    <div class="invalid-feedback" *ngIf="submitted && errorMessage.length > 0">
                        <sup>*</sup>{{ errorMessage }}
                    </div>
                </div>
                <div class="form-group">
                    <label [ngClass]="{
                                     error:
                                     submitted &&
                                     myLoginForm['password'].errors
                                     }">Mot de passe *</label>
                    <input type="password" class="form-control" formControlName="password" [ngClass]="{
                                     error:
                                     submitted &&
                                     myLoginForm['password'].errors
                                     }" />
                    <!-- error block -->
                    <div class="invalid-feedback" *ngIf="
                                     submitted &&
                                     myLoginForm['password'].value?.length === 0
                                     ">
                        <sup>*</sup>Veuillez entrer votre mot de passe
                    </div>
                    <div class="invalid-feedback" *ngIf="
                                                           submitted &&
                                                           myLoginForm['password'].errors?.['minlength']
                                                           ">
                        <sup>*</sup>Le mot de passe doit être de 8 caractères minimum
                    </div>
                </div>
                <button>Connexion</button>
            </form>
        </div>
    </div>
</main>