:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  html {
    scrollbar-width: none;
  }
  body {
    margin: 0; /* remove default margin */
    scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
    -ms-overflow-style: none; /* Disable scrollbar IE 10+ */
    overflow-y: scroll;
  }
  body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
  }
}

@media screen and (max-width: 575px) {
}
