@import "https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "normalize-scss/sass/normalize";
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary-color: #1f1d2b;
$primary-color-second: #2d303e;
$primary-color-third: #393c49;
$black: #1e1e1e;
$secondary-color: #fff;
$secondary-color-second: #abbbc2;
$validation-color: #8bbb00;
$warning-color: #ffc400;
$danger-color: #a80d0d;
$salmon-color: #ea7c69;
$mint-green: #3eb461;
$white: #fff;

$font-text: "Karla", sans-serif;
$font-big-title: "Poppins", sans-serif;
$font-subtitle: "Rubik", sans-serif;
.snack-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.snackbar-container {
    margin-top: 70px !important;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    &.error {
        background-color: #c62828 !important;
    }
    &.success {
        background-color: $mint-green !important;
    }

    &.warning {
        background-color: #ff8f00 !important;
    }
}

mat-form-field .mat-form-field {
  &-underline {
    position: relative;
    bottom: auto;
  }
  &-subscript-wrapper {
    position: static;
  }
}
::ng-deep .mat-progress-spinner circle {
    stroke: $salmon-color;
}
.loading {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}
