@import "src/styles";

$height: 100%;
.signup {
    height: $height;
    background: $primary-color-second;
    font-family: $font-text;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    color: $white;
    mat-stepper-horizontal,
    .mat-stepper-vertical {
        width: 100%;
        background-color: transparent;
        padding-bottom: 2rem;
    }
    ::ng-deep .mat-step-icon {
        background-color: $salmon-color;
    }
    ::ng-deep .mat-step-text-label {
        color: $white;
    }
    ::ng-deep .mat-stepper-vertical-line {
        border-left-color: $white;
    }
    .button-wrapper {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        button {
            width: 80%;
        }
    }
    .button-group {
        display: flex;
        gap: 1rem;
        width: 80%;
        > button {
            width: 100%;
        }
    }
    button {
        background-color: $salmon-color;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    mat-form-field {
        width: 100%;
    }
    ::ng-deep .mat-form-field-label,
    .mat-input-element::placeholder {
        color: $white;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        color: $salmon-color;
    }
    .hide-password {
        all: unset;
    }

    .signup-btn {
        width: 60%;
        margin: 10px auto;
        justify-content: center;
        display: block;
        color: #fff;
        background: $salmon-color;
        font-size: 1em;
        font-weight: bold;
        margin-top: 20px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: 0.2s ease-in;
        padding: 0.8rem;
        cursor: pointer;

        &:hover {
            background-color: lighten($salmon-color, 10%);
        }
    }
    .gender-select {
        display: flex;
        gap: 1rem;
        flex-flow: column;
        border: none;
        padding-bottom: 1rem;
        .mat-radio-group {
            display: flex;
            gap: 1rem;
            flex-flow: row;
        }

        ::ng-deep .mat-radio-inner-circle {
            background-color: $salmon-color;
        }
        ::ng-deep .mat-radio-outer-circle {
            border-color: $salmon-color;
        }
        ::ng-deep .mat-ripple-element {
            background-color: $salmon-color;
        }
        :ng-deep .mat-radio-label-content {
            padding-left: 1em;
        }
        ::ng-deep .mat-error {
            font-size: 75%;
        }
    }
    #signup-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}


::ng-deep .mat-raised-button.mat-accent {
    background-color: $danger-color;
    color: $white;
    font-weight: bold;
    &:hover {
        background-color: lighten($salmon-color, 10%);
    }
}
.verify-email {
    background-color: $primary-color-second;
    height: 100%;
}
::ng-deep .mat-error {
    letter-spacing: 0.6px;
    display: content;
}

::ng-deep div.mat-step:nth-child(3) > div:nth-child(2) {
    .mat-vertical-content {
        padding: 0;
    }
    margin: 0;
}
.loading {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}
